<div class="container">
    <div class="center">
        <div class="row">
            <div class="col"></div>
            <div class="col center">
                <nav class="navbar navbar-expand-lg navBar rounded-2" id="navbar" style="background-color: #ffffff;">
                    <div class="container-fluid">
                        <a class="navbar-brand mt-1" href="{{path('app_home')}}"><h1 class="nav-link"><b class="coloredText">IT</b>Solutions</h1></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                            <li class="nav-item p-1">
                              <a class="nav-link" aria-current="page" href="#about">About</a>
                            </li>
                             <li class="nav-item p-1">
                              <a class="nav-link" aria-current="page" href="#services">Services</a>
                            </li>
                             <li class="nav-item p-1">
                              <a class="nav-link" aria-current="page" href="#contacts">Contacts</a>
                            </li>
                            {# <li class="nav-item p-1">
                              <a class="nav-link" href="{{path('app_login')}}">Login</a>
                            </li>      
                            <li class="nav-item p-1">
                                <a class="nav-link" href="{{path('app_register')}}">Register</a>
                              </li>               #}
                          </ul>
                          
                        </div>
                      </div>
                </nav>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>