<div class="contact">
        <div class="d-flex justify-content-center p-1 ">
            <div class="container text-center align-items-center justify-content-center align-content-center">
                <p class="m-0">Phone us: <b>+00 123456789</b> or email us: <b>email@email.com</b></p>
            </div>
            <div class="container text-center align-items-center icons justify-content-center align-content-center">
            <span class="fb-icon"><i class="fa-brands fa-facebook fa-xl"></i></span>
            <span class="tw-icon"><i class="fa-brands fa-twitter  fa-xl"></i></span>
            <span class="li-icon"><i class="fa-brands fa-linkedin fa-xl"></i></span>
            </div>
        </div>
</div>