<div class="p-3 spacing">
    <div class="center text-center mt-3 mb-3">
        <h1 class="p-3"><b class="coloredText">Contact</b> Us</h1>
    </div>
</div>
<section id="contacts">
    <div class="contact-wrapper">
    
    <!-- Left contact page --> 
      
      <form id="contact-form" class="form-horizontal p-3" role="form">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Your Name</label>
            <input  type="text" class="form-control" id="name"  name="name" value="" aria-describedby="emailHelp" required>
          </div>        
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control"  id="email"  name="email" value="" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        
        <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
          <div class="alt-send-button">
            <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
          </div>
        
        </button>
        
      </form>
      
    <!-- Left contact page --> 
      
        <div class="direct-contact-container">
  
          <ul class="contact-list">
            <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Location</span></i></li>
            
            <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a class="text-decoration-none" href="tel:+00 123456789" title="Give me a call">(+00) 123456789</a></span></i></li>
            
            <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a class="text-decoration-none" href="mailto:#" title="Send me an email">email@email.com</a></span></i></li>
            
          </ul>
  
          <hr>
          <ul class="social-media-list">
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa fa-codepen" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>       
          </ul>
          <hr>
        </div>
      
    </div>
    
  </section>  