<div class=" p-3 heroContent">
    <div class="center text-center p-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, quod quo ipsam.</p>
        <h1 class="whiteH">Your Slogan goes here!</h1>
        <button class="btn btn-primary p-2 mt-2">Learn More</button>
    </div>
</div>